<!DOCTYPE html>
<html lang="en">
  <head>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }

      .active {
        background-color: #646536;
      }
    </style>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body style="background-color:#b6d7b9;">
    <ul>
        <li><a href="/lab-4/add-note">Add Note</a></li>
        <li><a href="/lab-4">Tabel Note</a></li>
        <li><a href="/lab-4/note-list">Card Note</a></li>
    </ul>
    <h1 style="color:white"> Note List </h1>
    {%if notes %}
    {% for note in notes %}
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header" style="border-spacing: 10px; padding: 10px; border: 1px solid white; border-radius:2px;">To: {{ note.to_whom }} <br> From: {{ note.from_who }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ note.title }}</h5>
          <p class="card-text">{{ note.message }}</p>
        </div>
      </div>

      {% endfor %}
    {% endif %}
    
    <!--
    <table style="width:75%; background-color: white">
      <h1 style="background-color: #646536; color: white; font-family:'Courier New'; text-align:center; padding:15px"> Here's lie the note...</h1>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      
      {%if notes %}
      {% for note in notes %}
      <tr>
            <td>{{ note.to_whom }}</td>
            <td>{{ note.from_who }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
      </tr>
        {% endfor %}
      {% endif %}

    </table>-->
  </body>
</html>
