<!DOCTYPE html>
<html lang="en">
  <head>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <meta charset="UTF-8" />
    <title>Note</title>
    <style>
      table, th, td {
        
        border-collapse: collapse;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      th, td {
        border: 1px solid white;
        background-color: #daf0ee;
        padding: 10px;

      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }

      .active {
        background-color: #646536;
      }
    </style>
  </head>
  <body style="background-color:#b6d7b9;">
    <ul>
      <li><a href="/lab-4/add-note">Add Note</a></li>
      <li><a href="/lab-4">Tabel Note</a></li>
      <li><a href="/lab-4/note-list">Card Note</a></li>
    </ul>
    <table style="width:75%; background-color: white">
      <h1 style="background-color: #646536; color: white; font-family:'Courier New'; text-align:center; padding:15px"> Note List</h1>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Note model -->
      {%if notes %}
      {% for note in notes %}
      <tr>
            <td>{{ note.to_whom }}</td>
            <td>{{ note.from_who }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
      </tr>
        {% endfor %}
      {% endif %}

    </table>
  </body>
</html>
