<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    <table style="width:75%">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Note model -->
      {%if notes %}
      {% for note in notes %}
      <tr>
            <td>{{ note.to_whom }}</td>
            <td>{{ note.from_who }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
      </tr>
        {% endfor %}
      {% endif %}

    </table>
  </body>
</html>
